<div class="row">
  <div class="col-sm-12">
    <h1>Building Tools</h1>

    <ul>
      <li><%= link_to "Worlds", '/worlds' %></li>
      <li><%= link_to "Zones", '/zones' %></li>
      <li><%= link_to "Layers", '/layers' %></li>
      <li><%= link_to "Rooms", '/rooms' %></li>
    </ul>

  </div>
</div>
